*{
    margin : 0px 0px;
    padding : 0px 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1360px;
}
.container{
    text-align: center;
    height : 100vh;
    background-color: black;

}
.container img{
    width: 45%;
    height : 60%;
    margin-top : 5%;
   
}

@media only screen and (min-width: 1000px){
    .container img{
      width : 50%;
      height : 85%;
    
    }
}
@media only screen and (max-width: 1000px ){
    .container img{
    width : 75%;
    height : 45%;
    margin-top : 25%;
    
    }
}
